<form method='get' action='/juego' >
<h1 name='Oportunidades'>Oportunidades: <%= @@juego.oportunidades %></h1>
<br />
pista<input type="button" name="pista" value="pista">
<br />
espacios: <h1><%= @@juego.mostrar_guiones %></h1>
<br />
letra:
<input type="text" name="nletra" value="a">
<input type="submit" name="Letra" value="Letra">
<br />
letras: <%= @@juego.letras_usadas %>
<br />
<%= @@juego.mensaje %>
</form>
