<form method='get' action='/juego' >

Palabra: <input type="text" name="palabra" value="">
<br />
Pista: <input type="text" name="pista" value="">
<br />
<input type="submit" name="btningresarpalabra" value="Cargar Juego">
</form>
